.body.background-fade::before {
  content: "";
  position: absolute;
  background-image: url('BensBestBytesLogo.jpg');
  background-repeat: repeat;
  background-size: 150px;
  background-position: center;
}

.banner-container {
  height: 60px;
  background-image: url('BensBestBytesBanner.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  height: 30vh;
  background-image: url('GraduationCyberSecurity.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
}
